= render partial: "shared/slider"

.container-fluid
  .row.justify-content-between
    #card-2.col-md-6.col-xs-12.card-home
      .card-body
        %h1
          Goal / Objectives
        %p.text-justify
          In the Loyola Schools, we generate research and innovation that contribute to the nation's development and make a difference in the lives of the marginalized.
    #card-3.col-md-6.col-xs-12.card-home
      .card-body
        %h1
          Vision
        %p.text-justify
          Scholarly work in the Loyola Schools generates and communicates new knowledge,
          understanding, perspectives, forms and expressions. Our body of work should influence or inform
          policy, mndsets, and identity, and/or contribute to the advancement of the field.
.padding
.container-fluid
  .row
    .col-md-3
      %h2
        Upcoming Events
      .card
        .card-body
          %h5
            Event Title
          %small.text-muted
            January 1, 2019
          %p
            Some sample description for the event.
        .card-footer
          = link_to "#" do
            .fa.fa-link
            External Site
      %hr
      .card
        .card-body
          %h5
            Event Title
          %small.text-muted
            January 1, 2019
          %p
            Some sample description for the event.
        .card-footer
          = link_to "#" do
            .fa.fa-link
            External Site
      %hr
      .card
        .card-body
          %h5
            Event Title
          %small.text-muted
            January 1, 2019
          %p
            Some sample description for the event.
        .card-footer
          = link_to "#" do
            .fa.fa-link
            External Site
    .col-md-9
      %h1
        Featured Articles
      %hr
