#modal-about.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-body
        .modal-body-content
          %h5
            Scholarly Work in the Loyola Schools
          %hr
          %p
            Scholarly work may be defined as the deliberative and orderly pursuit of truth in all its forms. They aim at opening new paths of intellectual exploration and pursuing scholarly investigation using the appropriate methodologies of one’s discipline. Their ultimate goal is to contribute to knowledge. For the Ateneo de Manila University Loyola Schools, scholarly work encompasses the following activities: the discovery of new knowledge and original insight that expand human understanding; the application of existing knowledge to address social and practical problems; the development of new and better means for facilitating the learning or understanding of what is already known; and creative work that includes artistic creation or expression.
          %p
            Faculty members are encouraged to align their research with their department’s research agenda. They are also encouraged to do research or creative work that has an impact on nation building.
