#slider.carousel.slide{ data: { ride: "carousel" } }
  .carousel-inner
    .carousel-item.active
      = image_tag "building.jpg"
      .carousel-caption
        %h1.display-2
          Ateneo de Manila University
        %h3
          Office of Research and Creative Work
        = link_to "#", class: "btn btn-primary btn-outline-light btn-lg" do
          More about ORCW
