.backdrop
  .carousel-caption
    %center
      %h1
        Ateneo Graduate School of Business

.padding
.container-fluid
  .row
    .col-md-12
      %h3
        Ateneo Graduate School of Business
      %p
        Page under construction...
