.backdrop
  .carousel-caption
    %center
      %h1
        Ateneo Law School

.padding
.container-fluid
  .row
    .col-md-12
      %h3
        Ateneo Law School
      %p
        Page under construction...
