.backdrop
  .carousel-caption
    %center
      %h1
        Ateneo School of Medicine and Public Health

.padding
.container-fluid
  .row
    .col-md-12
      %h3
        Ateneo School of Medicine and Public Health
      %p
        Page under construction...
