.backdrop
  .carousel-caption
    %center
      %h1
        Ateneo School of Government

.padding
.container-fluid
  .row
    .col-md-12
      %h3
        Ateneo School of Government
      %p
        Page under construction...
