.backdrop
  .carousel-caption
    %center
      %h1
        University Research Ethics Office
.padding
.container-fluid
  .row
    .col-md-8
      %h1
        About
      %hr
      %p
        The University Research Ethics Office (UREO) was created by the Office of the President in June 2015 and is mandated to implement the policies of the University Research Council (URC) in matters pertaining to research ethics. It also serves as the administrative office that supports the University Research Ethics Committee (UREC).  
      %p
        The UREC reviews and evaluates research studies involving human participants that are conducted by faculty, staff, and students under the auspices of the Ateneo de Manila University. The UREC ensures that the research is conducted in a humane and ethical manner, and complies with national, international, and institutional principles and guidelines on ethical behavior towards human research participants.
    .col-md-4
      %h4
        CONTACT US

      .card
        .card-body
          %strong
            University Research Ethics Office
          %br
          %small.text-muted
            Room 204 Xavier Hall
            %br
            Ateneo de Manila University
            %br
            Loyola Heights, Quezon City, Philippines
          %hr
          %small
            .row
              .col-md-6
                .fa.fa-envelope
                  = link_to "mailto:univresearchethics@ateneo.edu" do
                    univresearchethics@ateneo.edu
              .col-md-6
                .fa.fa-phone
                  426-6001 local 5049
      %hr
      .card
        .card-body
          %strong
            Liane Peña Alampay, PhD
          %br
          %small.text-muted
            Director
          %hr
          %small

      %hr
      .card
        .card-body
          %strong
            Camille Aspillera
          %br
          %small.text-muted
            Administrative Assistant of UREO
          %hr
          %small
            .row
              .col-md-6
              .col-md-6
                .fa.fa-phone
                  426 6001 local 4030 or 4032
.padding
