.container-fluid
  .row
    .col
      %hr
      .card
        .card-body
          %h1
            Learn More
          %hr
          %p
            Scholarly work in the Ateneo de Manila University may be defined as the deliberative and orderly pursuit of truth in all its forms. They aim at opening new paths of intellectual exploration and pursuing scholarly investigation using the appropriate methodologies of one’s discipline and compliant with the highest ethical standards. Their ultimate goal is to contribute to knowledge. As defined, scholarly work encompasses the following activities: the discovery of new knowledge and original insight that expand human understanding; the application of existing knowledge to address social and practical problems; the development of new and better means for facilitating the learning or understanding of what is already known; and creative work that includes artistic creation or expression. 

          %p
            Faculty members are encouraged to align their research with the University, School or Department’s research agenda. They are encouraged to do research or creative work that has an impact on nation building.
          %hr
          %h6
            University Scholarly Work Priority Areas
          %ul.norm
            %li
              Risk Assessment and Reduction (disaster science and policy, governance, social vulnerability)
            %li
              Public Education Reform (curriculum innovation, teacher education, education leadership, learning, system reform, technological innovation)
            %li
              Health System Development (health leadership, finance, technological innovation, service delivery, health communication)
            %li
              Sustainability (sustainabl livelihood, system innovation, liveable communities, clean energy, sustainable transport, materials)
            %li
              Creativity, Innovation and Culture (identity, nationhood, social innovation)
          %hr
