.backdrop
  .carousel-caption
    %center
      %h1
        School of Humanities

.padding
.container-fluid
  .row
    .col-md-12
      %h3
        School of Humanities
      %p
        Description coming soon...
      %h5
        Research Centers
      %ul
        %li
          Ateneo Center for English Language Teaching (ACELT)
        %li
          Ateneo Institute of Literary Arts and Practices (AILAP)
        %li
          Ateneo Language Learning Center (ALLC)
