.backdrop
  .carousel-caption
    %center
      %h1
        School of Humanities

.padding
.container-fluid
  .row
    .col-md-12
      %h2
        School of Humanities
      %p
        Scholarly work in the School of Humanities consists of research in the arts, letters, philosophy, and theology, on the one hand, and the creative output in literature, the visual arts, the performing arts, and the screen arts. 
      %p
        Although the School of Humanities was formally established in 2000, the humanities have been a dominant and constant component of the Ateneo de Manila education. The beginning of a research tradition, however, may be located in the publication of Brown Heritage: Essays on Philippine Cultural Tradition and Literature in 1967. With groundbreaking essays exploring various aspects of Philippine culture written by members of the faculty and experts from other institutions, the book greatly enriched the then fallow field of Philippine studies  and set research directions for the faculty.
      %p
        Today, while a Philippine focus still informs much of the research of the faculty, the School has become more diverse in its research pursuits and more eclectic in its approaches. The following are among the research areas of the current faculty of the School:
      %ul.norm
        %li
          National and Popular Cultures
        %li
          Philippine Literature
        %li
          Colonial Studies
        %li
          Political Philosophy
        %li
          Interreligious Dialogue
        %li
          Ethical Perspectives on Environmental Issues
        %li
          Filipino Cultural Heritage
        %li
          World Englishes
        %li
          English Language Education
      %p
        The School of Humanities contributes to the teaching mission of the Ateneo de Manila University in housing two training centers: the Ateneo Center for English Language Teaching (ACELT) and the Formation Institute for Religious Educators (FIRE). The latter also offers a master’s program in religious education. 
      %h5
        Research Centers
      %ul.norm
        %li
          Ateneo Center for English Language Teaching (ACELT)
        %li
          Ateneo Institute of Literary Arts and Practices (AILAP)
        %li
          Ateneo Language Learning Center (ALLC)
