.backdrop
  .carousel-caption
    %center
      %h1
        School of Humanities

.padding
.container-fluid
  .row
    .col-md-12
      %h3
        School of Humanities
      %p
        Scholarly Work Thrust of the School of Humanities:  Conscientious and creative leadership in culture and the arts for a just society
      %ul.norm
        %li
          National and Popular Cultures
        %li
          Philippine Literature
        %li
          Colonial Studies
        %li
          Political Philosophy
        %li
          Interreligious Dialogue
        %li
          Ethical Perspectives on Environmental Issues
        %li
          World Englishes
        %li
          English Language Education
        %li
          Filipino Cultural Heritage
      %h5
        Research Centers
      %ul.norm
        %li
          Ateneo Center for English Language Teaching (ACELT)
        %li
          Ateneo Institute of Literary Arts and Practices (AILAP)
        %li
          Ateneo Language Learning Center (ALLC)
