.backdrop-som
  .carousel-caption
    %center
      %h1
        School of Management

.padding
.container-fluid
  .row
    .col-md-12
      %h3
        John Gokongwei School of Management
      %p
        %b
          Mission/Vision: 
        JGSOM is regionally recognized as a center of excellence and leadership in business education.

      %ul
        %li
          Assembling one of the best business undergraduate student bodies in the country selected from an annual pool of over 4,000 applicants
        %li
          Subjecting them to one of the most innovative and yet rigorous academic programs available in the region
        %li
          Delivered by a faculty line-up that possesses and excellent balance of world-class academic training and top-tier professional experience
        %li
          With access to educational resources and learning facilities second to none in the Philippines
        %li
          To create world-class professionals and entrepreneurs, ready and able to provide leadership for a rapidly changing and globalizing world
      = link_to som_download_organizational_matrix_path, class: 'btn btn-primary', target: '_blank' do
        .fa.fa-download
        Download Organizational Matrix
      %hr
      %h3
        Research Centers
      %ul
        %li
          Ateneo Center for Social Entrepreneurship (ACSEnt)
        %li
          Business Resource Center (BRC)
        %li
          Ateneo Family Business Development Center (AFBDC)

      %h3
        Research Interests
      %ul
        %li
          Ateneo Student Business Review
        %li
          Journal of Management for Global Sustainability

      %h3
        Research Publications
      %ul
        %li
          Family Business
        %li
          Social Entrepreneurship
        %li
          Sustainability
        %li
          Finance
        %li
          Strategy, Innovation
        %li
          Leadership, Management
        %li
          Marketing, Consumers, Media
        %li
          Law
        %li
          Human Resources
        %li
          Operations, Data Science, IT
