.backdrop
  .carousel-caption
    %center
      %h1
        School of Management

.padding
.container-fluid
  .row
    .col-md-12
      %h3
        School of Management
      %p
        Research Thrust of the John Gokongwei School of Management: Business leadership that emboldens stewardship, sustainability, and transformative service.
      %h5
        Research Centers
      %ul
        %li
          Ateneo Center for Social Entrepreneurship (ACSEnt)
        %li
          Business Resource Center (BRC)
        %li
          Ateneo Family Business Development Center (AFBDC)
