.backdrop
  .carousel-caption
    %center
      %h1
        School of Science and Engineering

.padding
.container-fluid
  .row
    .col-md-12
      %h3
        School of Science and Engineering
      %p
        Research Thrust of the School of Science and Engineering: Innovative leadership in science and technology in response to social, environmental, and health challenges

      %ul.norm
        %li
          Health
        %li
          Disaster Science and Mitigation
        %li
          Environment
        %li
          Science and Mathematics Education
      %h5
        Research Centers
      %ul
        %li
          Ateneo Innovation Center (AIC)
        %li
          Ateneo Java Wireless Competency Center (AJWCC)
        %li
          National Chemistry Instrumentation Center (NCIC)
        %li
          The Ateneo de Manila Innovation and Technology Support Office (ITSO)
