.backdrop
  .carousel-caption
    %center
      %h1
        School of Science and Engineering

.padding
.container-fluid
  .row
    .col-md-12
      %h3
        School of Science and Engineering
      %p
        Description coming soon...
      %h5
        Research Centers
      %ul
        %li
          Ateneo Innovation Center (AIC)
        %li
          Ateneo Java Wireless Competency Center (AJWCC)
        %li
          National Chemistry Instrumentation Center (NCIC)
        %li
          The Ateneo de Manila Innovation and Technology Support Office (ITSO)
