.backdrop
  .carousel-caption
    %center
      %h1
        School of Social Sciences

.padding
.container-fluid
  .row
    .col-md-12
      %h3
        School of Social Sciences
      %p
        Research Thrust of the School of Social Sciences: Transformative leadership in service towards inclusive societal and human development
      %ul.norm
        %li
          Culture, Memory, and Nationhood
        %li
          Environment, Society, and Sustainability
        %li
          Family, Youth and Education
        %li
          Global Flows and Regional Integration
        %li
          Knowledge and Social Innovation
        %li
          Peace, Justice, and Democratic Governance
        %li
          Science, Technology and Social Innovation
      %h5
        Research Centers
      %ul.norm
        %li
          Ateneo Center for Asian Studies (ACAS)
        %li
          Ateneo Center for Economic Research and Development (ACERD)
        %li
          Konrad Adenauer Asian Center for Journalism (ACFJ)
        %li
          Ateneo Teacher Center (ATC)
        %li
          Jaime C. Bulatao, SJ Center for Psychology Services (Bulatao Center)
        %li
          Ateneo Center for Organization Research &amp; Development (ACORD)
        %li
          Eugenio Lopez Jr. Center for Multimedia Communication
        %li
          Institute of Philippine Culture (IPC)
        %li
          Ateneo Ricardo Leong Center for Chinese Studies
