.backdrop-soss
  .carousel-caption
    %center
      %h1
        School of Social Sciences

.padding
.container-fluid
  .row
    .col-md-12
      %h3
        Vision
      %p
        The School of Social Sciences, Ateneo de Manila University, is a leading academic institution of the social sciences in Asia and the Pacific that forms individuals who are competent, ethical, and responsive to local and global social realities.
      %h3
        Mission
      %p
        The School of Social Sciences, Ateneo de Manila University, through multidisciplinary teaching, research, creative work, and outreach initiatives, equips individuals and communities with perspectives and skills for local, national, and global transformation, in the Jesuit tradition of excellence, service, and the promotion of justice.
      %p
        The research thrust of the School is transformative leadership in service towards inclusive societal and human development. 
      %h3
        School of Social Sciences Research Clusters/Research Council
      %p
        In 2012, six research clusters in the School of Social Sciences were created. They are:
        
      %ol
        %li
          Culture, Memory and Nationhood
        %li
          Environment, Society and Sustainable Development
        %li
          Family, Youth, and Education
        %li
          Peace, Justice, and Democratic Governance
        %li
          Knowledge and Social Innovation
        %li
          Global Flows, Regional Integration and Other Economic Issues

      %p
        In line with the objective to redefine the School of Social Sciences’ research structure and agenda, the following changes were implemented in the second semester of SY 2018-2019.

      %p
        First, the School of Social Sciences Research Council was established to serve as an advisory and policy implementing body on research matters. It will:

      %ol
        %li
          Recommend research goals, priorities and policies;
        %li
          Assist in the assessment of the implementation of the School’s research policies;  and
        %li
          Establish and promote scholarly research and creative work by screening, reviewing, and evaluating research load applications, abstract submissions for the School of Social Sciences Research Conference; and nominated works for the Outstanding Graduate Research Awards.

      %p
        The SoSS Dean, acting as council chair, and six SoSS faculty will comprise the membership of the Research Council. The SoSS coordinator for research will act as an ex-officio member.
      %p
        Second, SoSS research groups replaced the research clusters as platforms for research collaboration. SoSS faculty researchers are encouraged through these groups to develop coherent research thrusts, pursue diverse research interests, and collaborate with colleagues from departments and programs in SoSS, and in other Schools. Research groups will also serve as sites for interaction and engagement of faculty members with varying research interests and experience. Research groups are also encouraged to situate their works within the strategic priorities identified by the Ateneo de Manila University.
      %p
        Any full-time faculty may convene a research group. Part-time faculty may form a research group in collaboration with full-time faculty. Research groups may apply for a research load towards the development of research proposals, and the implementation of research projects for which funding has been secured.
      %h5
        Research Centers
      %ul.norm
        %li
          Ateneo Center for Asian Studies (ACAS)
        %li
          Ateneo Center for Economic Research and Development (ACERD)
        %li
          Konrad Adenauer Asian Center for Journalism (ACFJ)
        %li
          Ateneo Teacher Center (ATC)
        %li
          Jaime C. Bulatao, SJ Center for Psychology Services (Bulatao Center)
        %li
          Ateneo Center for Organization Research &amp; Development (ACORD)
        %li
          Eugenio Lopez Jr. Center for Multimedia Communication
        %li
          Institute of Philippine Culture (IPC)
        %li
          Ateneo Ricardo Leong Center for Chinese Studies
