.backdrop
  .carousel-caption
    %center
      %h1
        University Research Council
.padding
.container-fluid
  .row
    .col-md-8
      %h1
        About
      %hr
      %p
        The University Research Council (URC) under the Office of the President takes on the vital
        functions needed to advance research excellence in the University. It is in charge of setting
        direction, policy, strategy and review of research.
      %h5
        The Council performs the following functions
      %ul
        %li
          Recommends research policies and priorities
        %li
          Acts as screening, review and evaluation committee of internally funded projects
      %p
        The Office of the Associate Dean for Research and Creative Work (OADRCW) provides the
        administrative support to the work of the URC.

      %h5
        Members of the University Research Council (URC)
      %hr
      %ul
        %li
          Chair, Filomeno V Aguilar Jr PhD
        %li
          Raymundo S Baquiran MD
        %li
          Jayeel S Cornelio PhD
        %li
          Atty Amparita S Sta Maria
        %li
          Pilar U Tolentino 
        %li
          Michael B Coroza, PhD
        %li
          Fabian M. Dayrit, PhD
        %li
          Antonette P Angeles PhD (VP Professional Schools) ex-officio
        %li
          Atty. Jaime G. Hofilefla (VP Social Development) ex-officio
        %li
          Maria Luz C. Vilches PhD (VP Loyola Schools) ex-officio
        %li
          Ma Louise Antonette N de las Peñas PhD (Associate Dean for Research and Creative Work, Loyola Schools)
    .col-md-4
      %h4
        CONTACT US

      .card
        .card-body
          %strong
            Josef Ian T. Bondoc
          %br
          %small.text-muted
            Office Staff, Office of the Associate Dean for Research and Creative Work
          %hr
          %small
            .row
              .col-md-6
                .fa.fa-envelope
                  = link_to "mailto:jibondoc@ateneo.edu" do
                    jibondoc@ateneo.edu
              .col-md-6
                .fa.fa-phone
                  426-6001 local 5049
.padding
